@model QuizSystem.Web.ViewModels.Quizzes.ViewModels.ContestViewModel

@{
    this.ViewData["Title"] = "Quiz";
}

<style>
    #clockdiv {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
    }

        #clockdiv > div {
            padding: 10px;
            border-radius: 3px;
            background: #42abf8;
            display: inline-block;
        }

        #clockdiv div > span {
            padding: 15px;
            border-radius: 3px;
            background: #42abf8;
            display: inline-block;
        }

    .smalltext-quiz {
        padding-top: 5px;
        font-size: 16px;
    }

    .arrow-right {
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid #42abf8;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-right: 40px solid #42abf8;
    }

    .pagination {
        display: -ms-flexbox;
        flex-wrap: wrap;
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
    }
</style>

<div class="rounded mt-2 text-white shadow p-3 text-center mb-3">
    <div id="clockdiv">
        <div>
            <span class="minutes"></span>
            <div class="smalltext-quiz">Minutes</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext-quiz">Seconds</div>
        </div>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-1">
        <div class="arrow-left" onclick="move(-1)">
        </div>
    </div>
    <div class="col-10">
        <form asp-area="" asp-action="Submit" asp-controller="Quizzes" method="post">
            <input hidden asp-for="@Model.Id" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary float-right" onclick="return confirm('Are you sure you want to submit?');">Finish</button>
            </div>
            <input hidden asp-for="@Model.Quiz.Id" />
            @for (int i = 0; i < Model.Quiz.Questions.Count; i++)
            {
                <input hidden asp-for="@Model.Quiz.Questions[i].Id" />
                <div style="display: @(i != 0 ? "none" : "")" id="question-@(i + 1)">
                    <div class="container-fluid bg-gray mt-1 rounded shadow">
                        <div class="form-group">
                            <div class="modal-body">
                                <div data-toggle="buttons">
                                    <h1 class="text-center mt-2">Question - @(i + 1)</h1>
                                    <p class="text-center">
                                        @Model.Quiz.Questions[i].Text
                                    </p>
                                    @for (int j = 0; j < Model.Quiz.Questions[i].Answers.Count; j++)
                                    {
                                        <label class="btn btn-lg btn-primary btn-block text-left">
                                            <input asp-for="@Model.Quiz.Questions[i].Answers[j].IsChecked">@Html.Raw(Model.Quiz.Questions[i].Answers[j].Text)
                                            <input type="hidden" asp-for="@Model.Quiz.Questions[i].Answers[j].Id" />
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="container-fluid">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.Quiz.Questions.Count; i++)
                    {
                        <li class="page-item pr-1 pb-1">
                            <a class="page-link" onclick="show(@i)" href="javascript:;">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </form>
    </div>
    <input hidden id="TotalQuestions" value="@Model.Quiz.Questions.Count" />
    <div class="col-1">
        <div class="form-group">
            <div class="arrow-right" onclick="move(+1)"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/quiz.js" asp-append-version="true"></script>
}