@model CreateContestInputModel
@{
    this.ViewData["Title"] = "Create Contest";
    var quizzes = this.ViewData["AllQuizzes"] as IEnumerable<SelectListItem>;
 
}
<div class="col-12 row mt-4">
    <form asp-controller="Contests" asp-action="Create" method="post">
        <div class="component">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Add New Contest</h4>
                    <p class="card-text" style="display: block;">
                        <span class="text-primary mr-1">∗</span>
                        You can always edit it later.
                    </p>
                </div>
                <div class="card-footer pb-5">
                    <div class="form-group">
                        <label asp-for="@Model.Name">Question</label>
                        <textarea asp-for="@Model.Name" class="form-control" rows="15"></textarea>
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.StartDateTime"></label>
                        <input asp-for="@Model.StartDateTime" />
                        <span asp-validation-for="@Model.StartDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EndDateTime"></label>
                        <input asp-for="@Model.EndDateTime" />
                        <span asp-validation-for="@Model.EndDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Password"></label>
                        <input asp-for="@Model.Password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.QuizId"></label>
                        <select asp-for="@Model.QuizId" asp-items="@quizzes" class="form-control"></select>
                        <span asp-validation-for="@Model.QuizId" class="text-danger"></span>
                    </div>
                    <div class="row mx-1 text-white">
                        <button type="submit" class="btn btn-primary btn-block col-md-5 mt-5">Create</button>
                        <div class="col-1 mr-4"></div>
                        <a class="btn btn-primary btn-block col-md-5 mt-5" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>